* {
  box-sizing: border-box;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.bg {
  background: url('https://source.unsplash.com/1600x900/?beach') no-repeat
    center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 3.5rem;
  color: #ffff;
}
